build/
dist/
*.sln
premake5.exe
*.obj
*.o
*.lo
*.la
*.al
*.lib
*.a
*.so
*.dll
*.dylib
*.exe
*.out
*.app
*.pdb
*.idb
*.d
*.dSYM/
*.ipch/
*.pch
*.log
*.tmp
*.temp
*.swp
*.bak
*.old
*.orig
*.rej
*.vcxproj*
*.vcxproj.user
*.vscode/
